
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model LegendOfFall.Models.AboutU


<h1>პროექტის შესახებ - რედაქტირება</h1>
@using (Html.BeginForm("Edit", "About", FormMethod.Post))
{
    @Html.TextAreaFor(x => x.AboutUsDescription, new { @class = "ckeditor" });
    <button type="submit" class="btn btn-success" style="margin-top:15px"> შენახვა </button>
}



