@model LegendOfFall.Models.AboutU
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";    
}

<h1>პროექტის შესახებ</h1>
<div class="content-wrapper">    
    <p>
        @Html.Raw(Model.AboutUsDescription)
    </p>
    <a class="btn btn-warning" href="@Url.Action("Edit","About")">რედაქტრირება</a>
</div>



