.about-wrapper{
    padding:50px;
    background-color:#fff;
}

.about-wrapper h1 {
    text-align: center;
    font-size: 30px;
    color: red;
}

.about-wrapper p {
    color: purple;
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
}
.about-wrapper a {
    padding: 10px;
    text-decoration: none;
    background-color: yellow;
    margin-left: 10px;
}
