
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model LegendOfFall.Models.Season

<link href="~/Content/assets/css/season-deletion.css" rel="stylesheet" />

<h1>წაშლა - @Model.Title</h1>

<div id="deletion-wrapper">
    @using (Html.BeginForm("Delete", "Season", FormMethod.Post))
    {
        <p> სეზონის @Model.Title წაშლის შემთხვევაში წაიშლება მასთან დაკავშირებული ყველა მონაცემი </p>
        <p>ნამდვლად გსურთ სეზონის წაშლა?</p>
        <input name="Id" value="@Model.Id" style="display:none" />

        <div>            
            <button type="submit" class="btn btn-danger">წაშლა</button>
            <a href="@Url.Action("Seasons","Admin")" class="btn btn-warning">გაუქმება</a>
        </div>
    }

</div>







